<footer class="footer ">
    <div class="container">
        <div class="copyright center">
            &copy; <script>document.write(new Date().getFullYear())</script>, adapted with <i class="material-icons">favorite</i> by <a href="https://github.com/ademord" target="_blank">Ademord</a> for a better web.
        </div>
    </div>
</footer>

{% load static %}


<!--   Core JS Files   -->
<script src="https://demos.creative-tim.com/material-dashboard-pro/assets/js/core/jquery.min.js"></script>
<script src="https://demos.creative-tim.com/material-dashboard-pro/assets/js/core/popper.min.js"></script>
<script src="https://demos.creative-tim.com/material-dashboard-pro/assets/js/bootstrap-material-design.min.js"></script>
<script src="{% static 'js/perfect-scrollbar.jquery.min.js' %}"></script>


<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="{% static 'js/moment.min.js' %}"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="https://demos.creative-tim.com/material-dashboard-pro/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>

<script src="https://demos.creative-tim.com/material-dashboard-pro/assets/js/plugins/bootstrap-selectpicker.js"></script>
<script src="https://demos.creative-tim.com/material-dashboard-pro/assets/js/plugins/bootstrap-tagsinput.js"></script>
<script src="https://demos.creative-tim.com/material-dashboard-pro/assets/js/plugins/jasny-bootstrap.min.js"></script>

<!-- Plugins for presentation and navigation-->
<script src="{% static 'js/modernizr.js' %}"></script>




<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library-->
<script src="{% static 'js/material-dashboard-angular.js' %}"></script>



<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

<!-- Library for adding dinamically elements -->
<script src="{% static 'js/arrive.min.js' %}"></script>

<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
<script src="{% static 'js/chartist.min.js' %}"></script>

<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="{% static 'js/jquery.bootstrap-wizard.js' %}"></script>

<script src="https://demos.creative-tim.com/material-dashboard-pro/assets/js/plugins/jquery.select-bootstrap.js"></script>

<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="{% static 'js/jquery-jvectormap.js' %}"></script>


<!-- Material Dashboard DEMO methods -->
<script src="{% static 'js/demo.js' %}"></script>

<script type="text/javascript">

    $(document).ready(function(){


        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

        demo.initCharts();

    });

</script>

<script src="{% static 'js/app.js' %}"></script>
