<!-- Modal -->
<div id="{{ plan.id }}_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" style="box-shadow: none; background: transparent;">
            <div class="card" data-color="rose" id="wizardProfile" >
                    <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                    <div class="card-header card-header-success text-center">
                        <h3 class="card-title">{{ service.name }} Service</h3>
                    </div>

                    <div class="card-body">
                        <p class="card-description text-center">Launch Service Instance</p>
                        <div class="card card-pricing" style="margin: 0; box-shadow: none;">
                            <h6 class="card-category" style="color: #212529;padding: 0;margin: 0;">{{ plan.name }}</h6>
                            <div class="card-body" style="margin: 0; padding: 0;">

                                <p class="card-description" style="margin: 0;color: #343a40;">{{ plan.description }}</p>
                                {% load prettyjson %}
                                {% prettyjson_setup %}
                                <p>
                                    {% prettyjson plan initial='parsed' %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <form id="launch_instance" action="/instances/create/{{ service_id }}k{{ plan.id }}" method="post">
                    <div class="card-footer ">

                            {% csrf_token %}
                            <div class="mr-auto">
                                <input type="button" class="btn btn-previous btn-fill btn-default btn-wd" name="previous" value="Cancel" data-dismiss="modal">
                            </div>
                            <div class="ml-auto">
                                <input id="launch" type="submit" class="btn btn-next btn-fill btn-success btn-wd" name="launch" value="Launch" form="launch_instance">
                            </div>
                            <div class="clearfix"></div>
                    </div>
                    </form>

            </div>
        </div>
    </div>
</div>
<!--<p class="card-category">Last Campaign Performance</p>-->
<!--<button class="btn btn-default">Default</button>-->
<!--<button class="btn btn-info">Info</button>-->
<!--<button class="btn btn-success">Success</button>-->
<!--<button class="btn btn-warning">Warning</button>-->
<!--<button class="btn btn-danger">Danger</button>-->
