{% extends "layouts/default.html" %}
{% block content %}

<div class="plus-plugin">
    <button id="import_service_button" class="import-button y hC" style="background: #4f6b82;">
        <i class="o8 a6 material-icons" style="filter:invert(1)">link</i>
    </button>
    
    <button id="add_service_button" class="y hC" style="background: #e91e63;">
        <img class="o8 a6" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png" alt="">
    </button>
</div>


<h2>Services Overview</h2>

<div class="flex-container container-plan pr-3">

    {% for service in services %}
        {% if service.logo_image %}
            {% include "services/cards/service_image_base64.html" with service=service %}
        {% else %}
            {% include "services/cards/service_icon.html" with service=service %}
        {% endif %}
    {% empty %}
        <div class="col-lg-3 col-md-6 col-sm-6 flex-item">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon" data-header-animation="true">
                    <div class="card-icon">
                        <i class="material-icons">code</i>
                    </div>
                </div>
                <div class="card-body card-body-plan">
                    <div class="card-actions-service ">
                        <button type="button" class="btn btn-danger btn-link fix-broken-card" rel="tooltip" data-placement="bottom" title="Fix Header">
                            <i class="material-icons">build</i>
                        </button>
                    </div>
                    <h4 class="card-title card-title-plan"> No services <br> registered </h4>
                </div>
                <br>
            </div>
        </div>
        

    {% endfor %}

</div>

<h2>Template Services</h2>

<div class="flex-container container-plan pr-3">

    {% for service in bootstrap_services %}
        {% if service.logo_path != None %}
            {% include "services/cards/service_image.html" with service=service %}
        {% else %}
            {% include "services/cards/service_icon.html" with service=service %}
        {% endif %}
    {% endfor %}

</div>

{% include "services/modals/create.html" %}
{% include "services/modals/import.html" %}

{% endblock %}
