{% extends "layouts/default.html" %}
{% block content %}

<div class="plus-plugin">
        <button id="addService" class="y hC" style="background: #e91e63;">
            <img class="o8 a6" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png" alt="">
        </button>
</div>


<h2>Services Overview</h2>

<div class="flex-container container-plan pr-3">

    {% for service in services %}
        {% include "includes/service_card.html" with name=service.name image_path=service.image_path %}
    {% endfor %}
    {% include "includes/service_card_icon.html" with name=custom.name icon=custom.icon %}
    <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
            <i class="fa fa-plus"></i>
    <div class="ripple-container"></div></button>


</div>

{% include "services/modals/create.html" %}

{% endblock %}
