{% extends "layouts/default.html" %}
{% block content %}
    {% load static %}


<h2>{{ service.name }} Service</h2>
<div id="modal-background"></div>

{% if service.preview_image != None %}
   <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header card-header-text card-header-warning">
                <div class="card-text">
                    <h4 class="card-title">Service Preview</h4>
                </div>
            </div>

            <div class="card-body" style="text-align: center;">
                <img class="img-fluid" src="{{ service.preview_image }}" style="max-height: 35em;" alt="Interface Preview">
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header card-header-text card-header-rose">
                <div class="card-text">
                    <h4 class="card-title">Example Variables</h4>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-rose">
                        <th>Variable</th>
                        <th>Value</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Endpoint:</td>
                        <td>http://192.168.0.1/wp-login</td>
                    </tr>
                    <tr>
                        <td>Username:</td>
                        <td>admin</td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>admin</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endif %}

<div class="row">

    {% for plan in service.plans %}
        {% include "services/cards/plan.html" with plan=plan service_id=service.id %}
    {% endfor %}


</div>

{% include "instances/modals/launch.html" %}
{% include "instances/modals/success.html" with message="Your Service Instance has been created." %}

{% endblock %}
