{% extends "layouts/default.html" %}
{% block content %}
    {% load static %}


<h2>{{ service.name }} Service</h2>
<div id="modal-background"></div>

   <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="card card-wizard" style="box-shadow: none">
            <div class="card-header card-header-text card-header-warning">
                <div class="card-text">
                    <h4 class="card-title">Service Preview</h4>
                </div>
            </div>

            <div class="card-body" style="text-align: center;">
                {% if service.preview_image != "" %}
                    <img class="img-fluid" src="{{ service.preview_image }}" style="max-height: 35em;" alt="Interface Preview">
               {% else %}
                    <div class="picture-container">
                        <h3 style="color: darkgray;">No Preview <br> Available</h3>

                    </div>
               {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header card-header-text card-header-rose">
                <div class="card-text">
                    <h4 class="card-title">Example Variables</h4>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-rose">
                        <th>Variable</th>
                        <th>Value</th>
                    </thead>
                    <tbody>
                    {% for key, value in service.service_variables.items %}
                        <tr>
                            <td>{{ key }} </td>
                            <td>{{ value }} </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>
                                 No variables registered.
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="row">

    {% for plan in service.plans %}
        {% include "services/cards/plan.html" with plan=plan service_id=service.id %}
    {% endfor %}


</div>

{% include "instances/modals/launch.html" %}

{% endblock %}