<tr>
    <td>{{ instance.id }} </td>
    <td>{{ instance.name }}</td>
    <td>{{ instance.backend }}</td>
    <td><i class="fa fa-circle {{ instance.color }}"></i> {{ instance.time_alive }}</td>
    <td class="td-actions text-right">
        <button type="button" rel="tooltip" class="btn btn-info" data-original-title="" title="">
            <i class="material-icons">info</i>
            <div class="ripple-container"></div></button>
        <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
            <i class="material-icons">history</i>
            <div class="ripple-container"></div></button>
        <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
            <i class="material-icons">close</i>
            <div class="ripple-container"></div></button>
    </td>
</tr>