<div class="tab-pane" id="tab_template">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <h5 class="info-text"> What's the Service Template? </h5>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                {{ form.backend.errors }}
                <select name="backend" class="selectpicker" data-size="7" data-style="select-with-transition" title="Backend">
                  <option disabled selected class="unhide"> Backend </option>
                    <option value="docker-compose"> Docker Swarm </option>
                    <option value="kubernetes"> Kubernetes </option>
                    <option value="openshift"> Openshift </option>
                </select>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group bmd-form-group">
                {{ form.template.errors }}
                <label for="template" class="bmd-label-floating"> Service Template</label>
                <textarea class="form-control" rows="8" name="template" id="template"></textarea>
            </div>
        </div>
    </div>
</div>
